Answers_FLOW.json
[{"id":"aed327c1.9534b8","type":"tab","label":"Questions","disabled":false,"info":""},{"id":"fe68cb4f.f1da68","type":"cloudant out","z":"aed327c1.9534b8","name":"","cloudant":"","database":"test_1","service":"node-red-zibzw-cloudant-1591164599164-72358","payonly":true,"operation":"insert","x":450,"y":80,"wires":[]},{"id":"3e4404de.c13c5c","type":"function","z":"aed327c1.9534b8","name":"","func":"msg.payload = {\n    \"1\": \"B\",\n    \"2\": \"B\",\n    \"3\": \"C\",\n    \"4\": \"D\",\n    \"5\": \"D\",\n    \"6\": \"A\",\n    \"7\": \"B\",\n    \"8\": \"C\",\n    \"9\": \"D\",\n    \"10\": \"C\",\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["fe68cb4f.f1da68"]]},{"id":"e5deec4b.fea89","type":"inject","z":"aed327c1.9534b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":150,"y":140,"wires":[["f2159a09.7a8768"]]},{"id":"137d4392.bc109c","type":"cloudant out","z":"aed327c1.9534b8","name":"","cloudant":"","database":"data_science","service":"node-red-zibzw-cloudant-1591164599164-72358","payonly":true,"operation":"insert","x":490,"y":140,"wires":[]},{"id":"f2159a09.7a8768","type":"function","z":"aed327c1.9534b8","name":"","func":"msg.payload = {\n    \"A1\": \"population mean\",\n    \"A2\": \"discrete variables\",\n    \"A3\": \"data cleaning\",\n    \"A4\": \"1/3\",\n    \"A5\": \"true\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["137d4392.bc109c"]]},{"id":"fd515638.76acf8","type":"inject","z":"aed327c1.9534b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":190,"y":280,"wires":[["7d14ef8a.2809d"]]},{"id":"e8317bcf.032f48","type":"cloudant out","z":"aed327c1.9534b8","name":"","cloudant":"","database":"app_dev","service":"node-red-zibzw-cloudant-1591164599164-72358","payonly":true,"operation":"insert","x":540,"y":280,"wires":[]},{"id":"7d14ef8a.2809d","type":"function","z":"aed327c1.9534b8","name":"","func":"msg.payload = {\n    \"A1\": \"startActivityForResult()\",\n    \"A2\": \"sqlite\",\n    \"A3\": \"finish\",\n    \"A4\": \"contextthenewwrapper\",\n    \"A5\": \"security sandbox\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["e8317bcf.032f48"]]},{"id":"ecc55369.b198a","type":"inject","z":"aed327c1.9534b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":190,"y":320,"wires":[["96229aeb.407398"]]},{"id":"f8cf33d.aa811d","type":"cloudant out","z":"aed327c1.9534b8","name":"","cloudant":"","database":"cloud_compute","service":"node-red-zibzw-cloudant-1591164599164-72358","payonly":true,"operation":"insert","x":560,"y":320,"wires":[]},{"id":"96229aeb.407398","type":"function","z":"aed327c1.9534b8","name":"","func":"msg.payload = {\n    \"A1\": \"saas\",\n    \"A2\": \"latency\",\n    \"A3\": false,\n    \"A4\": \"virtualization\",\n    \"A5\": \"saas\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["f8cf33d.aa811d"]]},{"id":"30743354.83b8ac","type":"inject","z":"aed327c1.9534b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":190,"y":360,"wires":[["34f4f95f.a80ee6"]]},{"id":"abee061b.c60af8","type":"cloudant out","z":"aed327c1.9534b8","name":"","cloudant":"","database":"software_dev","service":"node-red-zibzw-cloudant-1591164599164-72358","payonly":true,"operation":"insert","x":550,"y":360,"wires":[]},{"id":"34f4f95f.a80ee6","type":"function","z":"aed327c1.9534b8","name":"","func":"msg.payload = {\n    \"A1\": true,\n    \"A2\": \"application programs\",\n    \"A3\": \"assembler\",\n    \"A4\": true,\n    \"A5\": \"mnemonics operation table\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["abee061b.c60af8"]]},{"id":"6b7163e9.6c34ec","type":"inject","z":"aed327c1.9534b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":210,"y":400,"wires":[["43d092a3.4a000c"]]},{"id":"79e7104d.4b633","type":"cloudant out","z":"aed327c1.9534b8","name":"","cloudant":"","database":"web_dev","service":"node-red-zibzw-cloudant-1591164599164-72358","payonly":true,"operation":"insert","x":560,"y":400,"wires":[]},{"id":"43d092a3.4a000c","type":"function","z":"aed327c1.9534b8","name":"","func":"msg.payload = {\n    \"A1\": \"DL\",\n    \"A2\": \"caption\",\n    \"A3\": \"empty\",\n    \"A4\": \"mozilla\",\n    \"A5\": \"text align\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["79e7104d.4b633"]]},{"id":"f446399c.ef06b8","type":"inject","z":"aed327c1.9534b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":80,"wires":[["3e4404de.c13c5c"]]}]