NODE_RED_FLOW.json
[{"id":"6930ddcd.484ae4","type":"tab","label":"RASP","disabled":false,"info":""},{"id":"68407584.93701c","type":"function","z":"6930ddcd.484ae4","name":"=0: Store in db","func":"if(msg.payload === 0){\n    msg.payload = {\n    \"_id\" : flow.get(\"email\"),\n    \"NAME\" : flow.get(\"name\"),\n    \"PASSWORD\" : flow.get(\"pwd\"),\n    }\n}\nflow.set(\"email\",undefined)\nflow.set(\"name\",undefined)\nflow.set(\"pwd\",undefined)\nflow.set(\"c_pwd\",undefined)\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":580,"wires":[["da01e438.d694b8"]]},{"id":"da01e438.d694b8","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"student_details","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":1100,"y":580,"wires":[]},{"id":"8f1c8c7b.2b6d1","type":"switch","z":"6930ddcd.484ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":690,"y":740,"wires":[["68407584.93701c","3079c4ef.f59f0c"],["8eebc12b.96279"],["b3d2d76.2d1f228"],["a529f782.271068"]]},{"id":"c8f6673c.0d5538","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Registered Successfully!!!","name":"Registered Successfully Dialog","x":1190,"y":640,"wires":[["4714697f.f05958"]]},{"id":"3079c4ef.f59f0c","type":"function","z":"6930ddcd.484ae4","name":"=0: Go to Dashboard","func":"msg.payload = \"Registered Successfully!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":640,"wires":[["c8f6673c.0d5538"]]},{"id":"4714697f.f05958","type":"function","z":"6930ddcd.484ae4","name":"go to dashboard","func":"msg.payload = { group:\n        {show:[\"RASP_ApplicantDashboard\"],\n         hide:[\"RASP_ApplicantRegistration\"]\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":640,"wires":[["5c6d2c56.a50794"]]},{"id":"5c6d2c56.a50794","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Dashboard","x":1650,"y":640,"wires":[[]]},{"id":"8eebc12b.96279","type":"function","z":"6930ddcd.484ae4","name":"=1: Display passwords doesn't Match","func":"msg.payload = \"Passwords Does not match!!\"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":700,"wires":[["91108887.9b08a8"]]},{"id":"91108887.9b08a8","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Passwords Doesn't match","name":"Passwords Does not match","x":1260,"y":700,"wires":[[]]},{"id":"89128f2e.4a802","type":"cloudant in","z":"6930ddcd.484ae4","name":"email id validation","cloudant":"","database":"student_details","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_id_","design":"","index":"","x":310,"y":740,"wires":[["3a5ce0b4.d2849"]]},{"id":"f8bb7dc1.7a311","type":"comment","z":"6930ddcd.484ae4","name":"Applicant Sign up Form","info":"","x":100,"y":520,"wires":[]},{"id":"eba71b34.31fb48","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"50164e44.29d9c","order":1,"width":0,"height":0,"options":[{"label":"Enter your Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter confirm password","value":"c_pwd","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","pwd":"","c_pwd":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":50,"y":640,"wires":[["8bfdbb32.37ab28","bdae7b75.d2ef58"]]},{"id":"8bfdbb32.37ab28","type":"function","z":"6930ddcd.484ae4","name":"email verification","func":"flow.set(\"name\",msg.payload.name)\nflow.set(\"email\",msg.payload.email)\nflow.set(\"pwd\",msg.payload.pwd)\nflow.set(\"c_pwd\",msg.payload.c_pwd)\nmsg.payload = msg.payload.email\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":660,"wires":[["89128f2e.4a802"]]},{"id":"3a5ce0b4.d2849","type":"function","z":"6930ddcd.484ae4","name":"validation","func":"if(msg.payload !== null)\n    msg.payload = 2\nelse if(flow.get(\"pwd\") !== flow.get(\"c_pwd\"))\n    msg.payload = 1;\nelse\n    msg.payload = 0\nif ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) \n        msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":740,"wires":[["8f1c8c7b.2b6d1"]]},{"id":"b3d2d76.2d1f228","type":"function","z":"6930ddcd.484ae4","name":"=2: Email Id Already exists","func":"msg.payload = \"Email Id already exists!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["75d13289.ebfebc"]]},{"id":"75d13289.ebfebc","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Email Id already exists","name":"Email id already exists dialog","x":1220,"y":740,"wires":[[]]},{"id":"101eeade.d575a5","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Login Page","x":910,"y":900,"wires":[[]]},{"id":"a529f782.271068","type":"function","z":"6930ddcd.484ae4","name":"=3: System in use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":800,"wires":[["5c7e55d3.35a61c"]]},{"id":"5c7e55d3.35a61c","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System already in use","name":"System already in use dialog","x":1140,"y":800,"wires":[[]]},{"id":"a30260b5.087a5","type":"comment","z":"6930ddcd.484ae4","name":"Applicant Dashboard","info":"","x":90,"y":820,"wires":[]},{"id":"a46456b6.8bd428","type":"debug","z":"6930ddcd.484ae4","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":580,"wires":[]},{"id":"bdae7b75.d2ef58","type":"function","z":"6930ddcd.484ae4","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":580,"wires":[["a46456b6.8bd428"]]},{"id":"44fb7ebb.1dc3e","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"bef4810f.e5278","order":1,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":380,"wires":[["472b71d2.e1fc7","e65fe643.f578a8"]]},{"id":"899b1ae2.132c08","type":"switch","z":"6930ddcd.484ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":730,"y":400,"wires":[["598f24d1.faa34c"],["6bc217a8.b95368"],["57ad8615.ee7ce8"]]},{"id":"27a4afd6.61b58","type":"cloudant in","z":"6930ddcd.484ae4","name":"email id validation","cloudant":"","database":"student_details","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_id_","design":"","index":"","x":430,"y":460,"wires":[["10c8aae1.7dc0b5"]]},{"id":"472b71d2.e1fc7","type":"function","z":"6930ddcd.484ae4","name":"email verification","func":"\nflow.set(\"email\",msg.payload.email)\nflow.set(\"pwd\",msg.payload.pwd)\nmsg.payload = msg.payload.email\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["27a4afd6.61b58"]]},{"id":"10c8aae1.7dc0b5","type":"function","z":"6930ddcd.484ae4","name":"validation","func":"if(msg.payload === null){\n    msg.payload = 2\n}\nelse {\n    if(msg.payload.PASSWORD === flow.get(\"pwd\"))\n        msg.payload = 0\n    else \n        msg.payload = 1\n}\nif ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) \n        msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":400,"wires":[["899b1ae2.132c08"]]},{"id":"d77ac301.5aecc","type":"debug","z":"6930ddcd.484ae4","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":340,"wires":[]},{"id":"e65fe643.f578a8","type":"function","z":"6930ddcd.484ae4","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["d77ac301.5aecc"]]},{"id":"598f24d1.faa34c","type":"function","z":"6930ddcd.484ae4","name":"go to dashboard","func":"msg.payload = { group:\n        {show:[\"RASP_ApplicantDashboard\"],\n         hide:[\"RASP_ApplicantLogin\"]\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":360,"wires":[["ea4336f8.359638"]]},{"id":"6bc217a8.b95368","type":"function","z":"6930ddcd.484ae4","name":"=1: Incorrect Password","func":"msg.payload = \"Incorrect Password\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":400,"wires":[["36ccaa09.cc33e6"]]},{"id":"36ccaa09.cc33e6","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Incorrect Password","name":"Incorrect Password Dialog","x":1170,"y":400,"wires":[[]]},{"id":"57ad8615.ee7ce8","type":"function","z":"6930ddcd.484ae4","name":"=2: Email Id Already exists","func":"msg.payload = \"Email Id Does Not Exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["c1e11741.3e36d8"]]},{"id":"c1e11741.3e36d8","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Email Id Does not Exist","name":"Email ID Does not exist dialog","x":1230,"y":440,"wires":[[]]},{"id":"ea4336f8.359638","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Dashboard","x":1110,"y":360,"wires":[[]]},{"id":"9efa616b.11b01","type":"comment","z":"6930ddcd.484ae4","name":"Applicant Login Form","info":"","x":100,"y":220,"wires":[]},{"id":"6316a22f.fc88dc","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"bef4810f.e5278","order":3,"width":0,"height":0,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"register","payloadType":"str","topic":"","x":100,"y":320,"wires":[["1b44d9ce.3583e6"]]},{"id":"1b44d9ce.3583e6","type":"function","z":"6930ddcd.484ae4","name":"To register","func":"if(msg.payload === \"register\"){\n    msg.payload = {\n        group:{\n            show : [\"RASP_ApplicantRegistration\"],\n            hide : [\"RASP_ApplicantLogin\"]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["6da7442c.7c607c"]]},{"id":"6da7442c.7c607c","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Registration Form","x":590,"y":280,"wires":[[]]},{"id":"324f8a8a.260876","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"b6c29ab0.8982a8","order":4,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"logout","payloadType":"str","topic":"","x":70,"y":900,"wires":[["e1d0297c.8fc018"]]},{"id":"e1d0297c.8fc018","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload == \"logout\")\n    msg.payload = \"Logged out Successfully!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":900,"wires":[["3a0aba1.7b22946"]]},{"id":"3a0aba1.7b22946","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Logged out Successfully","name":"Logged out Successfully dialog","x":470,"y":900,"wires":[["7322d210.79f4ac"]]},{"id":"7322d210.79f4ac","type":"function","z":"6930ddcd.484ae4","name":"","func":"var msg = {}\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"RASP_ApplicantDashboard\"],\n    show : [\"RASP_ApplicantLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":900,"wires":[["101eeade.d575a5"]]},{"id":"46cc0bee.d974f4","type":"comment","z":"6930ddcd.484ae4","name":"Index Page","info":"","x":100,"y":40,"wires":[]},{"id":"4b5568fe.2c0288","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"1e51c22d.b1697e","order":1,"width":0,"height":0,"passthru":false,"label":"Company","tooltip":"","color":"","bgcolor":"","icon":"","payload":"company","payloadType":"str","topic":"","x":200,"y":80,"wires":[["352c0404.f5e32c"]]},{"id":"7c6cf0e4.6ebd6","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"1e51c22d.b1697e","order":3,"width":0,"height":0,"passthru":false,"label":"Applicant","tooltip":"","color":"","bgcolor":"","icon":"","payload":"applicant","payloadType":"str","topic":"","x":200,"y":140,"wires":[["352c0404.f5e32c"]]},{"id":"352c0404.f5e32c","type":"function","z":"6930ddcd.484ae4","name":"Check","func":"if(msg.payload === \"company\")\n    msg.payload = 1\nelse if(msg.payload == \"applicant\")\n    msg.payload = 2\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["2bc8d0c5.e4384"]]},{"id":"2bc8d0c5.e4384","type":"switch","z":"6930ddcd.484ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":120,"wires":[["71b428df.303298"],["89f8eda7.7e784"]]},{"id":"89f8eda7.7e784","type":"function","z":"6930ddcd.484ae4","name":"=2: Applicant Login","func":"msg.payload = { group:\n        {show:[\"RASP_ApplicantLogin\"],\n         hide:[\"RASP_Index\"]\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["8893e9a0.d21c88"]]},{"id":"d1467052.444be","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Company Login","x":940,"y":80,"wires":[[]]},{"id":"8893e9a0.d21c88","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Applicant Login","x":940,"y":160,"wires":[[]]},{"id":"804857b3.bb7cb8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"3359ff38.628dc","order":1,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":1200,"wires":[["421aab51.7ba784","925c9be3.98e5b8"]]},{"id":"d2949db4.cbbb3","type":"switch","z":"6930ddcd.484ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":730,"y":1220,"wires":[["d4e21125.792ac"],["f9a2de74.2f48"],["af855a32.093518"]]},{"id":"38d0a2d4.dfb26e","type":"cloudant in","z":"6930ddcd.484ae4","name":"email id validation","cloudant":"","database":"company_details","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_id_","design":"","index":"","x":430,"y":1280,"wires":[["dacebd40.2e44a"]]},{"id":"421aab51.7ba784","type":"function","z":"6930ddcd.484ae4","name":"email verification","func":"\nflow.set(\"email\",msg.payload.email)\nflow.set(\"pwd\",msg.payload.pwd)\nmsg.payload = msg.payload.email\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1220,"wires":[["38d0a2d4.dfb26e"]]},{"id":"dacebd40.2e44a","type":"function","z":"6930ddcd.484ae4","name":"validation","func":"if(msg.payload === null){\n    msg.payload = 2\n}\nelse {\n    if(msg.payload.PASSWORD === flow.get(\"pwd\"))\n    {\n        flow.set(\"c_name\", msg.payload.C_NAME)\n        msg.payload = 0\n    }\n        \n    else \n        msg.payload = 1\n}\nif ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n    \n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) \n  {\n        msg.payload = 3;\n        \n  }\n}\n// keep the original socketid from msg.socketid;\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":1220,"wires":[["d2949db4.cbbb3"]]},{"id":"b907b643.eed058","type":"debug","z":"6930ddcd.484ae4","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1160,"wires":[]},{"id":"925c9be3.98e5b8","type":"function","z":"6930ddcd.484ae4","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1160,"wires":[["b907b643.eed058"]]},{"id":"23b52c12.b87344","type":"comment","z":"6930ddcd.484ae4","name":"Company Login Form","info":"","x":100,"y":1040,"wires":[]},{"id":"a3377c26.19eed","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"3359ff38.628dc","order":3,"width":0,"height":0,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"register","payloadType":"str","topic":"","x":100,"y":1140,"wires":[["5111efa3.d6ee"]]},{"id":"5111efa3.d6ee","type":"function","z":"6930ddcd.484ae4","name":"To register","func":"if(msg.payload === \"register\"){\n    msg.payload = {\n        group:{\n            show : [\"RASP_CompanyRegistration\"],\n            hide : [\"RASP_CompanyLogin\"]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1100,"wires":[["1754dbcb.cd0db4"]]},{"id":"1754dbcb.cd0db4","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Registration Form","x":590,"y":1100,"wires":[[]]},{"id":"d4e21125.792ac","type":"function","z":"6930ddcd.484ae4","name":"go to dashboard","func":"msg.payload = { group:\n        {show:[\"RASP_CompanyDashboard\"],\n         hide:[\"RASP_CompanyLogin\"]\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1180,"wires":[["2d2f2f49.c3297"]]},{"id":"f9a2de74.2f48","type":"function","z":"6930ddcd.484ae4","name":"=1: Incorrect Password","func":"msg.payload = \"Incorrect Password\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1220,"wires":[["4efb82c8.27ba8c"]]},{"id":"4efb82c8.27ba8c","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Incorrect Password","name":"Incorrect Password Dialog","x":1170,"y":1220,"wires":[[]]},{"id":"af855a32.093518","type":"function","z":"6930ddcd.484ae4","name":"=2: Email Id Already exists","func":"msg.payload = \"Email Id Does Not Exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1260,"wires":[["26d21d90.3299b2"]]},{"id":"26d21d90.3299b2","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Email Id Does not Exist","name":"Email ID Does not exist dialog","x":1230,"y":1260,"wires":[[]]},{"id":"2d2f2f49.c3297","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Dashboard","x":1110,"y":1180,"wires":[[]]},{"id":"f5e1c7fc.43ffc8","type":"switch","z":"6930ddcd.484ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":690,"y":1560,"wires":[["95419f58.2a504","b39c877f.6633d8"],["a746fe35.e6ccb"],["c375043a.a88c18"],["807e9bb.8ab5068"]]},{"id":"43311b38.bc0e94","type":"cloudant in","z":"6930ddcd.484ae4","name":"email id validation","cloudant":"","database":"company_details","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_id_","design":"","index":"","x":330,"y":1560,"wires":[["5a3a292f.c46d68"]]},{"id":"3e85e711.6c3b58","type":"comment","z":"6930ddcd.484ae4","name":"Company Sign up Form","info":"","x":120,"y":1340,"wires":[]},{"id":"9a3cfdcf.76417","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"44ce9ed4.489be","order":1,"width":0,"height":0,"options":[{"label":"Enter your company name","value":"company_name","type":"text","required":true,"rows":null},{"label":"Enter your Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter confirm password","value":"c_pwd","type":"password","required":true,"rows":null}],"formValue":{"company_name":"","name":"","email":"","pwd":"","c_pwd":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":70,"y":1460,"wires":[["5789e1e7.09c8a","2578f8ca.230948"]]},{"id":"5789e1e7.09c8a","type":"function","z":"6930ddcd.484ae4","name":"email verification","func":"flow.set(\"name\",msg.payload.name)\nflow.set(\"email\",msg.payload.email)\nflow.set(\"pwd\",msg.payload.pwd)\nflow.set(\"c_pwd\",msg.payload.c_pwd)\nflow.set(\"c_name\", msg.payload.company_name)\nmsg.payload = msg.payload.email\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1480,"wires":[["43311b38.bc0e94"]]},{"id":"5a3a292f.c46d68","type":"function","z":"6930ddcd.484ae4","name":"validation","func":"if(msg.payload !== null)\n    msg.payload = 2\nelse if(flow.get(\"pwd\") !== flow.get(\"c_pwd\"))\n    msg.payload = 1;\nelse\n    msg.payload = 0\nif ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) \n        msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":1560,"wires":[["f5e1c7fc.43ffc8"]]},{"id":"1be6b02d.8f15a","type":"debug","z":"6930ddcd.484ae4","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":1400,"wires":[]},{"id":"2578f8ca.230948","type":"function","z":"6930ddcd.484ae4","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1400,"wires":[["1be6b02d.8f15a"]]},{"id":"95419f58.2a504","type":"function","z":"6930ddcd.484ae4","name":"=0: Store in db","func":"if(msg.payload === 0){\n    msg.payload = {\n    \"_id\" : flow.get(\"email\"),\n    \"NAME\" : flow.get(\"name\"),\n    \"PASSWORD\" : flow.get(\"pwd\"),\n    \"C_NAME\": flow.get(\"c_name\")\n    }\n}\nflow.set(\"email\",undefined)\nflow.set(\"name\",undefined)\nflow.set(\"pwd\",undefined)\nflow.set(\"c_pwd\",undefined)\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1460,"wires":[["9af2ac55.fc353"]]},{"id":"9af2ac55.fc353","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"company_details","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":1130,"y":1460,"wires":[]},{"id":"96e2c533.0d00c8","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Registered Successfully!!!","name":"Registered Successfully Dialog","x":1210,"y":1520,"wires":[["e1d2e57.b8dfe18"]]},{"id":"b39c877f.6633d8","type":"function","z":"6930ddcd.484ae4","name":"=0: Go to Dashboard","func":"msg.payload = \"Registered Successfully!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1520,"wires":[["96e2c533.0d00c8"]]},{"id":"e1d2e57.b8dfe18","type":"function","z":"6930ddcd.484ae4","name":"go to dashboard","func":"msg.payload = { group:\n        {show:[\"RASP_CompanyDashboard\"],\n         hide:[\"RASP_CompanyRegistration\"]\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":1520,"wires":[["1c76d8ec.1a6fa7"]]},{"id":"a746fe35.e6ccb","type":"function","z":"6930ddcd.484ae4","name":"=1: Display passwords doesn't Match","func":"msg.payload = \"Passwords Does not match!!\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1580,"wires":[["790595a1.431cec"]]},{"id":"790595a1.431cec","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Passwords Doesn't match","name":"Passwords Does not match","x":1280,"y":1580,"wires":[[]]},{"id":"c375043a.a88c18","type":"function","z":"6930ddcd.484ae4","name":"=2: Email Id Already exists","func":"msg.payload = \"Email Id already exists!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1620,"wires":[["163bd959.7fefb7"]]},{"id":"163bd959.7fefb7","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Email Id already exists","name":"Email id already exists dialog","x":1240,"y":1620,"wires":[[]]},{"id":"807e9bb.8ab5068","type":"function","z":"6930ddcd.484ae4","name":"=3: System in use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":1680,"wires":[["61ea7700.4aa788"]]},{"id":"61ea7700.4aa788","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System already in use","name":"System already in use dialog","x":1160,"y":1680,"wires":[[]]},{"id":"1c76d8ec.1a6fa7","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Dashboard","x":1670,"y":1520,"wires":[[]]},{"id":"4b546f3.4ef709","type":"comment","z":"6930ddcd.484ae4","name":"Company Dashboard","info":"","x":100,"y":1660,"wires":[]},{"id":"cc9f01a8.ec88a","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"7a440e1.5e916f","order":5,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"logout","payloadType":"str","topic":"","x":70,"y":1700,"wires":[["8035981.4af2968"]]},{"id":"8035981.4af2968","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload == \"logout\")\n    msg.payload = \"Logged out Successfully!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1700,"wires":[["66ffe145.60b66"]]},{"id":"66ffe145.60b66","type":"ui_toast","z":"6930ddcd.484ae4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Logged out Successfully","name":"Logged out Successfully dialog","x":450,"y":1700,"wires":[["28f4fa8c.e7f556"]]},{"id":"28f4fa8c.e7f556","type":"function","z":"6930ddcd.484ae4","name":"","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"RASP_CompanyDashboard\"],\n    show : [\"RASP_CompanyLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1700,"wires":[["6c563c45.4daac4"]]},{"id":"6c563c45.4daac4","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"Go to Login Page","x":930,"y":1740,"wires":[[]]},{"id":"a4d7dbf9.ae9aa8","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":300,"y":40,"wires":[["4b5568fe.2c0288","7c6cf0e4.6ebd6"]]},{"id":"fe61db9e.20ea58","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"{\"group\":{\"show\":[\"RASP_Index\"],\"hide\":[\"RASP_ApplicantLogin\",\"RASP_ApplicantRegistration\",\"RASP_ApplicantDashboard\",\"RASP_CompanyLogin\",\"RASP_CompanyRegistration\",\"RASP_CompanyDashboard\",\"RASP_Job_Application\",\"RASP_Skill\",\"RASP_CreateJob\",\"RASP_RoundTwo\",\"RASP_NotSelected\",\"RASP_Quiz\",\"RASP_Question1\",\"RASP_Question2\",\"RASP_Question3\",\"RASP_Question4\",\"RASP_Question5\",\"RASP_Question6\",\"RASP_Question7\",\"RASP_Question8\",\"RASP_Question9\",\"RASP_Question10\",\"RASP_RoundThree\",\"RASP_DS1\",\"RASP_DS2\",\"RASP_DS3\",\"RASP_DS4\",\"RASP_DS5\",\"RASP_Web1\",\"RASP_Web2\",\"RASP_Web3\",\"RASP_Web4\",\"RASP_Web5\",\"RASP_App1\",\"RASP_App2\",\"RASP_App3\",\"RASP_App4\",\"RASP_App5\",\"RASP_Cloud1\",\"RASP_Cloud2\",\"RASP_Cloud3\",\"RASP_Cloud4\",\"RASP_Cloud5\",\"RASP_Soft1\",\"RASP_Soft2\",\"RASP_Soft3\",\"RASP_Soft4\",\"RASP_Soft5\",\"RASP_Submission1\",\"RASP_Submission2\",\"RASP_Submission3\",\"RASP_Submission4\",\"RASP_Submission5\",\"RASP_knockout\"],\"focus\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["a4d7dbf9.ae9aa8"]]},{"id":"71b428df.303298","type":"function","z":"6930ddcd.484ae4","name":"= 1: Company Login ","func":"msg.payload = { group:\n        {\"show\":[\"RASP_CompanyLogin\"],\n         \"hide\":[\"RASP_Index\"],\n         \"focus\": true\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["d1467052.444be"]]},{"id":"26a62417.88c9ec","type":"comment","z":"6930ddcd.484ae4","name":"Job Application","info":"","x":100,"y":2240,"wires":[]},{"id":"5dc885b3.6fe86c","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"job_application","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":700,"y":3160,"wires":[]},{"id":"1b83bc80.46a2a4","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload === \"fruit\")\n{\n    msg.payload={\n        \"_id\": global.get(\"Email\"),\n        \"NAME\": global.get(\"Name\"),\n        \"DOB\": global.get(\"date\"),\n        \"Gender\": global.get(\"Gender\"),\n        \"Email\": global.get(\"Email\"),\n        //\"points\": global.get(\"score\")\n    }\n    return msg;\n}\n\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":470,"y":3160,"wires":[["5dc885b3.6fe86c"]]},{"id":"8b345d9b.735a8","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"de620793.912cc8","order":8,"width":0,"height":0,"passthru":false,"label":"Submit Application","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fruit","payloadType":"str","topic":"true","x":250,"y":3160,"wires":[["1b83bc80.46a2a4","3460914a.7a110e"]]},{"id":"3460914a.7a110e","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"show\":[\"RASP_RoundTwo\"],\n         \"hide\":[\"RASP_Skill\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3260,"wires":[["416923fd.39f7ec"]]},{"id":"416923fd.39f7ec","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":630,"y":3240,"wires":[[]]},{"id":"32cea65c.e8805a","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"job_desc","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"JOB TITLE","x":300,"y":2980,"wires":[["fc9692bd.38cef"]]},{"id":"5eb3c664.5043d8","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0","x":100,"y":2980,"wires":[["32cea65c.e8805a"]]},{"id":"fcbfb721.8902a8","type":"split","z":"6930ddcd.484ae4","name":"","splt":", ","spltType":"str","arraySplt":"5","arraySpltType":"len","stream":false,"addname":"","x":510,"y":3000,"wires":[["e80989d0.594f38"]]},{"id":"fc9692bd.38cef","type":"function","z":"6930ddcd.484ae4","name":"","func":"var msgs = [];\nfor(var i = 0; i < msg.payload.length; i++)\n{\n    msgs.push({payload: msg.payload[i]})\n}\nfor(i = 0; i<msgs.length; i++)\n{\n    if({payload: msgs[i].payload.JOB_TITLE === \"Statistician\"})\n    {\n        return {payload: msgs[i].payload.SKILLS}\n    }\n}\n","outputs":1,"noerr":0,"x":360,"y":3060,"wires":[["fcbfb721.8902a8"]]},{"id":"e80989d0.594f38","type":"join","z":"6930ddcd.484ae4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":3080,"wires":[["481c5dd5.e85f74"]]},{"id":"4a8db8bc.dac588","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":3080,"wires":[]},{"id":"481c5dd5.e85f74","type":"function","z":"6930ddcd.484ae4","name":"","func":"var skills1 = []\nglobal.set(\"skills1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":3000,"wires":[["4a8db8bc.dac588"]]},{"id":"9cb8773c.b66d98","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"de620793.912cc8","order":2,"width":0,"height":0,"options":[{"label":"Enter your skill set","value":"Skills","type":"text","required":true,"rows":null}],"formValue":{"Skills":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":2800,"wires":[["7f46a77e.4a7a98"]]},{"id":"17cc0787.b8c228","type":"split","z":"6930ddcd.484ae4","name":"","splt":", ","spltType":"str","arraySplt":"5","arraySpltType":"len","stream":false,"addname":"","x":370,"y":2800,"wires":[["d66e20ba.5dbd5"]]},{"id":"d66e20ba.5dbd5","type":"join","z":"6930ddcd.484ae4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":2880,"wires":[["7d0fa1a8.d1d62"]]},{"id":"7f46a77e.4a7a98","type":"function","z":"6930ddcd.484ae4","name":"","func":"var skill = msg.payload.Skills\nmsg.payload = skill;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":2880,"wires":[["17cc0787.b8c228"]]},{"id":"7d0fa1a8.d1d62","type":"function","z":"6930ddcd.484ae4","name":"","func":"var skills2 = []\nglobal.set(\"skills2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2800,"wires":[["7c61a0c.1675a6"]]},{"id":"7c61a0c.1675a6","type":"function","z":"6930ddcd.484ae4","name":"","func":"\n    var points = 0\n    for(var i = 0; i < global.get(\"skills1\").length; i++)\n    {\n        for(var j = 0; j < global.get(\"skills2\").length; j++)\n        {\n            if(global.get(\"skills2\")[i] == global.get(\"skills1\")[j])\n            {\n                points = points + 1;\n            }\n        }\n    }\nglobal.set(\"score1\", points)\n\nmsg.payload = points\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":790,"y":2740,"wires":[["a9385280.2c4ab"]]},{"id":"273ece2f.210162","type":"function","z":"6930ddcd.484ae4","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2580,"wires":[["5821e272.b4f78c","ec1cce40.be4c9"]]},{"id":"5821e272.b4f78c","type":"ui_text","z":"6930ddcd.484ae4","group":"4f6f73ba.a86cbc","order":7,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":2700,"wires":[]},{"id":"50c6b260.627c7c","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":2440,"wires":[]},{"id":"dfe4fdae.276ec","type":"function","z":"6930ddcd.484ae4","name":"Output parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){    \n    msg.url=msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title +\"\\n\"+msg.payload.output.generic[0].description\n    \n}\nelse{    \n    msg.payload=msg.payload.output.generic[0].text   \n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2620,"wires":[["a86cca4e.f51768"]]},{"id":"a86cca4e.f51768","type":"ui_text","z":"6930ddcd.484ae4","group":"4f6f73ba.a86cbc","order":10,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":2560,"wires":[]},{"id":"fa257d1b.60bca","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"4f6f73ba.a86cbc","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":2580,"wires":[["273ece2f.210162"]]},{"id":"d21b9100.d203","type":"function","z":"6930ddcd.484ae4","name":"","func":"global.set(\"Name\", msg.payload.context.Name)\nglobal.set(\"date\", msg.payload.context.date)\nglobal.set(\"Gender\", msg.payload.context.Gender)\nglobal.set(\"Email\", msg.payload.context.email)\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2380,"wires":[["4318a94b.43cd78"]]},{"id":"dcab84c.dab6378","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nif(msg.payload === \"true\")\n{\n    msg.payload = { group:\n            {\"show\":[\"RASP_Skill\"],\n             \"hide\":[\"RASP_Job_Application\"],\n            \"focus\": true\n            }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":2440,"wires":[["82e9b6ba.eef678"]]},{"id":"82e9b6ba.eef678","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":930,"y":2300,"wires":[[]]},{"id":"64b21fd7.bdfb","type":"ui_ui_control","z":"6930ddcd.484ae4","d":true,"name":"","events":"all","x":190,"y":2640,"wires":[["fa257d1b.60bca"]]},{"id":"4318a94b.43cd78","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"4f6f73ba.a86cbc","order":4,"width":0,"height":0,"passthru":false,"label":"submit application","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":710,"y":2360,"wires":[["dcab84c.dab6378"]]},{"id":"cbf8f03b.9a4a4","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"7a440e1.5e916f","order":3,"width":0,"height":0,"passthru":false,"label":"Create Job","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":90,"y":1780,"wires":[["473350c7.3965e"]]},{"id":"473350c7.3965e","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload === \"true\")\n{\n    msg.payload = { group: {\n    hide : [\"RASP_CompanyDashboard\"],\n    show : [\"RASP_CreateJob\"]\n}\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1820,"wires":[["79e76c7d.ce4cc4"]]},{"id":"79e76c7d.ce4cc4","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":260,"y":1920,"wires":[[]]},{"id":"61426d57.431384","type":"function","z":"6930ddcd.484ae4","name":"","func":"msg.payload = { group: {\n    hide : [\"RASP_CreateJob\"],\n    show : [\"RASP_CompanyDashboard\"]\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1820,"wires":[["18c99952.824a07"]]},{"id":"18c99952.824a07","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":720,"y":1840,"wires":[[]]},{"id":"ec1cce40.be4c9","type":"watson-conversation-v1","z":"6930ddcd.484ae4","name":"Job Application","workspaceid":"2ff94cf4-3d2f-45f3-adf4-05567e948381","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/12bb25e4-9d2d-4452-a4ed-e41be868d233","timeout":"","optout-learning":false,"x":360,"y":2460,"wires":[["d21b9100.d203","50c6b260.627c7c","dfe4fdae.276ec"]]},{"id":"e5145d86.74577","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"ccc43be3.a2c2d8","order":1,"width":0,"height":0,"passthru":false,"label":"Attempt Quiz","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":170,"y":3420,"wires":[["10467349.96d8cd"]]},{"id":"10467349.96d8cd","type":"function","z":"6930ddcd.484ae4","name":"Go to Quiz","func":"if(msg.payload === \"true\")\n{\n    msg.payload = { group:\n        {\"hide\":[\"RASP_RoundTwo\"],\n         \"show\":[\"RASP_Question1\", \n         \"RASP_Question2\",\n         \"RASP_Question3\",\n         \"RASP_Question4\",\n         \"RASP_Question5\",\n         \"RASP_Question6\",\n         \"RASP_Question7\",\n         \"RASP_Question8\",\n         \"RASP_Question9\",\n         \"RASP_Question10\"],\n         \"focus\": true\n        }\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":3440,"wires":[["4f225047.69b71"]]},{"id":"a9385280.2c4ab","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":2820,"wires":[]},{"id":"c4555dc2.4a9f1","type":"ui_text","z":"6930ddcd.484ae4","group":"b9df92ba.5bad5","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":3600,"wires":[]},{"id":"b5dd2d5e.b2ffa","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"Sorry. You are not qualified for the next round","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":3540,"wires":[["c4555dc2.4a9f1"]]},{"id":"1a42810f.2e7c7f","type":"comment","z":"6930ddcd.484ae4","name":"General Quiz","info":"","x":210,"y":3700,"wires":[]},{"id":"4f225047.69b71","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":660,"y":3440,"wires":[[]]},{"id":"4bc08224.8014dc","type":"ui_button","z":"6930ddcd.484ae4","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":5020,"wires":[[]]},{"id":"7181a055.a551d","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"From which tag descriptive list starts ? <   >","group":"fc01ceb6.0657a","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A1 ","type":"text","required":true,"rows":null}],"formValue":{"A1 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2440,"y":80,"wires":[["acbf378b.29ea08"]]},{"id":"acbf378b.29ea08","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A1 \"]\nglobal.set(\"A1\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2770,"y":60,"wires":[[]]},{"id":"ef03b864.8b7e58","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"The tag which allows you to rest other HTML tags within the description is <  >","group":"49b497fd.229a68","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A2  ","type":"text","required":true,"rows":null}],"formValue":{"A2  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2530,"y":200,"wires":[["727f0e64.14c1c"]]},{"id":"727f0e64.14c1c","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A2 \"]\nglobal.set(\"A2\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2930,"y":220,"wires":[[]]},{"id":"39ab514a.75a87e","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"<INPUT> is a format tag or a empty tag?","group":"c496bae2.82dc08","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A3 ","type":"text","required":true,"rows":null}],"formValue":{"A3 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2460,"y":280,"wires":[["3583aafd.7a1cb6"]]},{"id":"3583aafd.7a1cb6","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A3 \"]\nglobal.set(\"A3\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2770,"y":340,"wires":[[]]},{"id":"19041a2b.40cae6","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Who makes the Web standards?","group":"4b124d8d.153a14","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A4 ","type":"text","required":true,"rows":null}],"formValue":{"A4 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2430,"y":380,"wires":[["715fb6bc.3ec098"]]},{"id":"715fb6bc.3ec098","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A4 \"]\nglobal.set(\"A4\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2670,"y":420,"wires":[[]]},{"id":"8ada71c5.78f85","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"If you want to align text to the right side of an block element in a cascading style sheet (CSS) then which property would you use? ","group":"762e49f3.dfc448","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A5 ","type":"text","required":true,"rows":null}],"formValue":{"A5 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2690,"y":460,"wires":[["d56f6a5e.003218"]]},{"id":"d56f6a5e.003218","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A5 \"]\nglobal.set(\"A5\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2890,"y":500,"wires":[["4189aa2b.eaa124"]]},{"id":"f02ffd5f.45625","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answers = msg.payload[0]\nglobal.set(\"answers\",answers)\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":740,"wires":[[]]},{"id":"1f50c475.01330c","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"web_dev","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"","x":2620,"y":740,"wires":[["f02ffd5f.45625"]]},{"id":"ec16ba06.e7d268","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":2450,"y":740,"wires":[["1f50c475.01330c"]]},{"id":"47699f69.17c76","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Check the submission box and press submit for scores, please check before hand as after pressing submit, the scores will be calculated","group":"f5e03391.c272a","order":2,"width":6,"height":3,"options":[{"label":"Submission ","value":"submit","type":"checkbox","required":false,"rows":null}],"formValue":{"submit":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2710,"y":580,"wires":[["2bd9df02.2185a"]]},{"id":"2bd9df02.2185a","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload.submit === true){\n    var answer = global.get(\"answers\")\n    var a1 = global.get(\"A1\")\n    var a2 = global.get(\"A2\")\n    var a3 = global.get(\"A3\")\n    var a4 = global.get(\"A4\")\n    var a5 = global.get(\"A5\")\n    var score = 0\n    \n    if(a1 == answer.A1)\n        score = score + 1\n    if(a2 == answer.A2)\n        score = score + 1\n    if(a3 == answer.A3)\n        score = score + 1\n    if(a4 == answer.A4)\n        score = score + 1\n    if(a5 == answer.A5)\n        score = score + 1\n    \n    msg.payload = score\n}\nscore2=global.get(\"score2\")\nscore=score+score2\nglobal.set(\"score3\", score)\nreturn msg;","outputs":1,"noerr":0,"x":3050,"y":640,"wires":[["d737c979.d2ef08"]]},{"id":"37c50e8.120b6f2","type":"comment","z":"6930ddcd.484ae4","name":"Web Dev","info":"","x":2220,"y":40,"wires":[]},{"id":"903be814.97cb08","type":"comment","z":"6930ddcd.484ae4","name":"App Dev","info":"","x":2380,"y":880,"wires":[]},{"id":"9dae43c7.9e602","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Write the function to get a response from an activity in Android.","group":"21e1f2e2.47d51e","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A1 ","type":"text","required":true,"rows":null}],"formValue":{"A1 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2630,"y":980,"wires":[["bd0b19e.5465ee8"]]},{"id":"bd0b19e.5465ee8","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A1 \"]\nglobal.set(\"A1\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2970,"y":980,"wires":[[]]},{"id":"f28daac9.f399a8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"What is the database to store heavy structured data in android? ","group":"c1e24552.0abd48","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A2  ","type":"text","required":true,"rows":null}],"formValue":{"A2  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2630,"y":1080,"wires":[["1bbcabc6.a7db54"]]},{"id":"1bbcabc6.a7db54","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A2 \"]\nglobal.set(\"A2\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2950,"y":1080,"wires":[[]]},{"id":"4fd1bdc.93df744","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"You can shut down an activity by calling its ______() method","group":"70257b20.dd53c4","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A3   ","type":"text","required":true,"rows":null}],"formValue":{"A3   ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2620,"y":1160,"wires":[["af009160.d35d2"]]},{"id":"af009160.d35d2","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A3 \"]\nglobal.set(\"A3\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2950,"y":1160,"wires":[[]]},{"id":"8725965a.296cc8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Parent class of Activity is ?","group":"35e5d909.0f9926","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A4 ","type":"text","required":true,"rows":null}],"formValue":{"A4 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2520,"y":1220,"wires":[["729cc4b6.0112ac"]]},{"id":"729cc4b6.0112ac","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A4 \"]\nglobal.set(\"A4\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2770,"y":1220,"wires":[[]]},{"id":"72d7650f.69c2dc","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Once installed on a device, each Android application lives in_______?","group":"8278c98f.ee19c8","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A5  ","type":"text","required":true,"rows":null}],"formValue":{"A5  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2630,"y":1320,"wires":[["8610770d.319c98"]]},{"id":"8610770d.319c98","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A5 \"]\nglobal.set(\"A5\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2990,"y":1320,"wires":[["24165af2.10e2f6"]]},{"id":"79686d1b.e4a244","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answers = msg.payload[0]\nglobal.set(\"answers\",answers)\nreturn msg;","outputs":1,"noerr":0,"x":2910,"y":1540,"wires":[[]]},{"id":"ae9d96a4.1d4888","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"app_dev","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"","x":2760,"y":1540,"wires":[["79686d1b.e4a244"]]},{"id":"90c40e8e.d279b","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":2590,"y":1540,"wires":[["ae9d96a4.1d4888"]]},{"id":"17b26254.c0187e","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Check the submission box and press submit for scores, please check before hand as after pressing submit, the scores will be calculated","group":"dc3fbed7.69abb","order":2,"width":6,"height":3,"options":[{"label":"Submission ","value":"submit","type":"checkbox","required":false,"rows":null}],"formValue":{"submit":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2850,"y":1380,"wires":[["b29d406c.2440d"]]},{"id":"b29d406c.2440d","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload.submit === true){\n    var answer = global.get(\"answers\")\n    var a1 = global.get(\"A1\")\n    var a2 = global.get(\"A2\")\n    var a3 = global.get(\"A3\")\n    var a4 = global.get(\"A4\")\n    var a5 = global.get(\"A5\")\n    var score = 0\n    \n    if(a1 == answer.A1)\n        score = score + 1\n    if(a2 == answer.A2)\n        score = score + 1\n    if(a3 == answer.A3)\n        score = score + 1\n    if(a4 == answer.A4)\n        score = score + 1\n    if(a5 == answer.A5)\n        score = score + 1\n    \n    msg.payload = score\n}\nscore2=global.get(\"score2\")\nscore=score+score2\nglobal.set(\"score3\", score)\nreturn msg;","outputs":1,"noerr":0,"x":3190,"y":1440,"wires":[["9c0d460a.6bd7d8"]]},{"id":"36b321f.3fa15de","type":"comment","z":"6930ddcd.484ae4","name":"Cloud Compute","info":"","x":2340,"y":1680,"wires":[]},{"id":"3fe2239.be753dc","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"When you add a software stack, such as an operating system and applications to the service, the model shifts to _____ model.","group":"b44c6ece.5fe82","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A1 ","type":"text","required":true,"rows":null}],"formValue":{"A1 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2700,"y":1740,"wires":[["8126bc19.f79ac"]]},{"id":"8126bc19.f79ac","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A1 \"]\nglobal.set(\"A1\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3200,"y":1780,"wires":[[]]},{"id":"fd4bcaff.28df58","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"All cloud computing applications suffer from the inherent _______ that is intrinsic in their WAN connectivity.","group":"b9959ee5.7ea0f","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A2  ","type":"text","required":true,"rows":null}],"formValue":{"A2  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2630,"y":1840,"wires":[["f8163f08.fed98"]]},{"id":"f8163f08.fed98","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A2 \"]\nglobal.set(\"A2\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3100,"y":1840,"wires":[[]]},{"id":"9968cb38.d10fe8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Ownership is related to services provided by Cloud.","group":"22673e60.5b2a22","order":2,"width":6,"height":3,"options":[{"label":"Enter true or false","value":"A3   ","type":"text","required":true,"rows":null}],"formValue":{"A3   ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2460,"y":1940,"wires":[["6eb93c20.213824"]]},{"id":"6eb93c20.213824","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A3 \"]\nglobal.set(\"A3\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3220,"y":1960,"wires":[[]]},{"id":"b96dda9d.bf3eb8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"_______ is a cloud concept related to pooling and sharing of resources.","group":"50110b98.77bca4","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A4 ","type":"text","required":true,"rows":null}],"formValue":{"A4 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2530,"y":2040,"wires":[["80ea6195.37228"]]},{"id":"7fc84950.b9bfd8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"_______ is a complete operating environment with applications, management, and the user interface.","group":"7a8aba12.7ee324","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A5  ","type":"text","required":true,"rows":null}],"formValue":{"A5  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2620,"y":2140,"wires":[["357e0be8.8278b4"]]},{"id":"357e0be8.8278b4","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A5 \"]\nglobal.set(\"A5\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3080,"y":2120,"wires":[["8b1fa739.4dc678"]]},{"id":"80ea6195.37228","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A4 \"]\nglobal.set(\"A4\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3040,"y":2060,"wires":[[]]},{"id":"4cbfa7f3.0a6f28","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Check the submission box and press submit for scores, please check before hand as after pressing submit, the scores will be calculated","group":"5df996ef.666ad8","order":2,"width":6,"height":3,"options":[{"label":"Submission ","value":"submit","type":"checkbox","required":false,"rows":null}],"formValue":{"submit":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2720,"y":2220,"wires":[["f1f4127b.51703"]]},{"id":"f1f4127b.51703","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload.submit === true){\n    var answer = global.get(\"answers\")\n    var a1 = global.get(\"A1\")\n    var a2 = global.get(\"A2\")\n    var a3 = global.get(\"A3\")\n    var a4 = global.get(\"A4\")\n    var a5 = global.get(\"A5\")\n    var score = 0\n    \n    if(a1 == answer.A1)\n        score = score + 1\n    if(a2 == answer.A2)\n        score = score + 1\n    if(a3 == answer.A3)\n        score = score + 1\n    if(a4 == answer.A4)\n        score = score + 1\n    if(a5 == answer.A5)\n        score = score + 1\n    \n    msg.payload = score\n}\nscore2=global.get(\"score2\")\nscore=score+score2\nglobal.set(\"score3\", score)\nreturn msg;","outputs":1,"noerr":0,"x":3060,"y":2280,"wires":[["a6f2b46b.e4e1b8"]]},{"id":"a6bd8838.4608b8","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answers = msg.payload[0]\nglobal.set(\"answers\",answers)\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":2400,"wires":[[]]},{"id":"8e4ea1b2.7fd24","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"cloud_compute","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"","x":2770,"y":2400,"wires":[["a6bd8838.4608b8"]]},{"id":"8b832d47.549e","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":2580,"y":2400,"wires":[["8e4ea1b2.7fd24"]]},{"id":"f7cc11b3.c5cd1","type":"comment","z":"6930ddcd.484ae4","name":"Software","info":"","x":2440,"y":2520,"wires":[]},{"id":"dec4d34e.ef465","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"CAD/CAM system is an example of application software. ","group":"8ab79683.592ff8","order":2,"width":6,"height":3,"options":[{"label":"Enter true or false","value":"A1 ","type":"text","required":true,"rows":null}],"formValue":{"A1 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2610,"y":2580,"wires":[["c1aceb97.d9e988"]]},{"id":"c1aceb97.d9e988","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A1 \"]\nglobal.set(\"A1\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2910,"y":2580,"wires":[[]]},{"id":"fa6133ca.17a7f","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Specialized program that allows user to utilize in specific application is classified as ","group":"fa781db6.b566","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A2  ","type":"text","required":true,"rows":null}],"formValue":{"A2  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2690,"y":2640,"wires":[["ac2d8d30.1463c"]]},{"id":"ac2d8d30.1463c","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A2 \"]\nglobal.set(\"A2\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3110,"y":2640,"wires":[[]]},{"id":"7c1a9255.2ff4dc","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Translator for low level programming language was termed as","group":"d3d8b746.5a2f98","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A3   ","type":"text","required":true,"rows":null}],"formValue":{"A3   ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2620,"y":2740,"wires":[["3ba3b5d7.ede19a"]]},{"id":"3ba3b5d7.ede19a","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A3 \"]\nglobal.set(\"A3\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2910,"y":2740,"wires":[[]]},{"id":"85b66384.99194","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":" A commercial application program normally includes Program disks,  Tutorial, Documentation.","group":"4c4b46cc.8ba668","order":2,"width":6,"height":3,"options":[{"label":"Enter true or false","value":"A4 ","type":"text","required":true,"rows":null}],"formValue":{"A4 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2720,"y":2800,"wires":[["97527e52.f89bd"]]},{"id":"97527e52.f89bd","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A4 \"]\nglobal.set(\"A4\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3130,"y":2800,"wires":[[]]},{"id":"e164ebe7.2099d8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Assembler is a machine dependent, because of ______.","group":"4459ffb8.5029c","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A5  ","type":"text","required":true,"rows":null}],"formValue":{"A5  ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2610,"y":2900,"wires":[["75255e06.b2bbc"]]},{"id":"75255e06.b2bbc","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A5 \"]\nglobal.set(\"A5\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2970,"y":2900,"wires":[["d9909a07.9368f8"]]},{"id":"f30becce.a11a3","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload.submit === true){\n    var answer = global.get(\"answers\")\n    var a1 = global.get(\"A1\")\n    var a2 = global.get(\"A2\")\n    var a3 = global.get(\"A3\")\n    var a4 = global.get(\"A4\")\n    var a5 = global.get(\"A5\")\n    var score = 0\n    \n    if(a1 == answer.A1)\n        score = score + 1\n    if(a2 == answer.A2)\n        score = score + 1\n    if(a3 == answer.A3)\n        score = score + 1\n    if(a4 == answer.A4)\n        score = score + 1\n    if(a5 == answer.A5)\n        score = score + 1\n    \n    msg.payload = score\n}\nscore2=global.get(\"score2\")\nscore=score+score2\nglobal.set(\"score3\", score)\nreturn msg;","outputs":1,"noerr":0,"x":3250,"y":3120,"wires":[["fd08a38f.f7672"]]},{"id":"1b2b573a.f02259","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Check the submission box and press submit for scores, please check before hand as after pressing submit, the scores will be calculated","group":"5fb622af.e9896c","order":2,"width":6,"height":3,"options":[{"label":"Submission ","value":"submit","type":"checkbox","required":false,"rows":null}],"formValue":{"submit":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2850,"y":3060,"wires":[["f30becce.a11a3"]]},{"id":"c953a843.1d7b98","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answers = msg.payload[0]\nglobal.set(\"answers\",answers)\nreturn msg;","outputs":1,"noerr":0,"x":2930,"y":3220,"wires":[[]]},{"id":"f8ebfbc.dcc4d08","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"software_dev","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"","x":2770,"y":3220,"wires":[["c953a843.1d7b98"]]},{"id":"cbc0481a.6eb8c8","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":2590,"y":3220,"wires":[["f8ebfbc.dcc4d08"]]},{"id":"46b4f87d.c99c78","type":"comment","z":"6930ddcd.484ae4","name":"DS","info":"","x":2310,"y":3340,"wires":[]},{"id":"951c843b.57c418","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"A numerical value used as a summary measure for a sample, such as a sample mean, is known as a","group":"a27c8c23.065d6","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A1 ","type":"text","required":false,"rows":null}],"formValue":{"A1 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2670,"y":3400,"wires":[["72103565.9f00dc"]]},{"id":"6939d6d1.4be788","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"The type of variables whose calculation is done according to the height, length, and weight are categorised as","group":"7590bda8.6764f4","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A2 ","type":"text","required":false,"rows":null}],"formValue":{"A2 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2690,"y":3480,"wires":[["61d0557b.88b04c"]]},{"id":"c3aace7f.5c1a6","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Give the technical term deals with identifying and removing errors and inconsistencies from data in order to enhance the quality of data.","group":"ee220073.ae923","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here","value":"A3 ","type":"text","required":false,"rows":null}],"formValue":{"A3 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2770,"y":3560,"wires":[["2de8927d.240e9e"]]},{"id":"6e2d938a.0f8f1c","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"A certain couple tells you that they have two children, at least one of which is a girl. What is the probability that they have two girls?","group":"30229d57.f0b822","order":2,"width":6,"height":3,"options":[{"label":"Enter your answer here (in fractions)","value":"A4 ","type":"text","required":false,"rows":null}],"formValue":{"A4 ":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2760,"y":3640,"wires":[["3323ccff.033804"]]},{"id":"aeb54e06.b5d5","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"A Pearson correlation between two variables is zero but, still their values can still be related to each other.","group":"b8b75ccd.b6a66","order":2,"width":6,"height":3,"options":[{"label":"Enter true or false","value":"A5","type":"text","required":false,"rows":null}],"formValue":{"A5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2660,"y":3720,"wires":[["7e6804c1.c8424c"]]},{"id":"72103565.9f00dc","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A1 \"]\nglobal.set(\"A1\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":2970,"y":3440,"wires":[[]]},{"id":"61d0557b.88b04c","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A2 \"]\nglobal.set(\"A2\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3110,"y":3520,"wires":[[]]},{"id":"2de8927d.240e9e","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A3 \"]\nglobal.set(\"A3\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3142,"y":3604,"wires":[[]]},{"id":"3323ccff.033804","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A4 \"]\nglobal.set(\"A4\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3130,"y":3680,"wires":[[]]},{"id":"7e6804c1.c8424c","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = msg.payload[\"A5 \"]\nglobal.set(\"A5\",answer)\nreturn msg;\n","outputs":1,"noerr":0,"x":3128,"y":3754,"wires":[["acec9c14.65cbf"]]},{"id":"828477a0.1cadb8","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answers = msg.payload[0]\nglobal.set(\"answers\",answers)\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":3800,"wires":[[]]},{"id":"168b0dd5.b776a2","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"data_science","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"","x":2590,"y":3800,"wires":[["828477a0.1cadb8"]]},{"id":"a395da6f.923e68","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":2410,"y":3800,"wires":[["168b0dd5.b776a2"]]},{"id":"6bb35bbd.eff9e4","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload.submit === true){\n    var answer = global.get(\"answers\")\n    var a1 = global.get(\"A1\")\n    var a2 = global.get(\"A2\")\n    var a3 = global.get(\"A3\")\n    var a4 = global.get(\"A4\")\n    var a5 = global.get(\"A5\")\n    var score = 0\n    \n    if(a1 == answer.A1)\n        score = score + 1\n    if(a2 == answer.A2)\n        score = score + 1\n    if(a3 == answer.A3)\n        score = score + 1\n    if(a4 == answer.A4)\n        score = score + 1\n    if(a5 == answer.A5)\n        score = score + 1\n    \n    msg.payload = score\n}\nscore2=global.get(\"score2\")\nscore=score+score2\nglobal.set(\"score3\", score)\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":3940,"wires":[["4e17e70c.c42098","71a88529.e3a0ac"]]},{"id":"a3adc4d7.729448","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Check the submission box and press submit for scores, please check before hand as after pressing submit, the scores will be calculated","group":"ad1f924b.670fd","order":2,"width":6,"height":3,"options":[{"label":"Submission ","value":"submit","type":"checkbox","required":false,"rows":null}],"formValue":{"submit":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2750,"y":3880,"wires":[["6bb35bbd.eff9e4"]]},{"id":"4e17e70c.c42098","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3230,"y":4060,"wires":[]},{"id":"45851d4.bfb12e4","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.001","x":2570,"y":4040,"wires":[["974a16b4.82f3c8"]]},{"id":"c91f3f06.d83ab","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"data_science","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":2930,"y":4040,"wires":[]},{"id":"974a16b4.82f3c8","type":"function","z":"6930ddcd.484ae4","name":"","func":"msg.payload = {\n    \"1\": \"B\",\n    \"2\": \"B\",\n    \"3\": \"C\",\n    \"4\": \"D\",\n    \"5\": \"D\",\n    \"6\": \"A\",\n    \"7\": \"B\",\n    \"8\": \"C\",\n    \"9\": \"D\",\n    \"10\": \"C\",\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":4040,"wires":[["c91f3f06.d83ab"]]},{"id":"45370c8.09935f4","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Peter is in the East of Tom and Tom is in the North of John. Mike is in the South of John then in which direction of Peter is Mike?","group":"832d46c4.e36d68","order":4,"width":0,"height":0,"options":[{"label":"SouthEast","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"SouthWest","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"South","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"NorthEast","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":550,"y":3820,"wires":[["d1ea2827.214988"]]},{"id":"c5108116.33873","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Complete the given series by finding the missing term  5, 15, 45, 225, ?","group":"4dff521f.f72c2c","order":4,"width":0,"height":0,"options":[{"label":"1024","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"1125","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"1500","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"2250","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":370,"y":3780,"wires":[["51dcc0aa.7836c"]]},{"id":"6473694a.fd7ca8","type":"function","z":"6930ddcd.484ae4","name":"Question 3","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"http://www.treeknox.com/general/puzzles/logical/questions10.jpg\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":3900,"wires":[["4d551bd9.1ff134"]]},{"id":"4d551bd9.1ff134","type":"ui_template","z":"6930ddcd.484ae4","group":"5ddb6926.b45998","name":"","order":7,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":3900,"wires":[[]]},{"id":"435c9ad5.b29ce4","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"At each stage the black dot moves three corners clockwise and the white dot moves four corners anticlockwise. After how many stages will both dots be together in the same corner?","group":"5ddb6926.b45998","order":8,"width":0,"height":0,"options":[{"label":"32","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"4","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"never","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"128","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":710,"y":3860,"wires":[["5f4115bf.90391c"]]},{"id":"4a47cc89.524d54","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":3900,"wires":[["6473694a.fd7ca8"]]},{"id":"e1422dd0.d1bbf","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Look at the picture","group":"38e01e52.4f7ab2","order":8,"width":0,"height":0,"options":[{"label":"A","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"B","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"C","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"D","value":"D. ","type":"checkbox","required":true,"rows":null},{"label":"E","value":"E. ","type":"checkbox","required":true,"rows":null},{"label":"F","value":"F. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false,"E. ":false,"F. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":3980,"wires":[["95daca37.4d8708"]]},{"id":"92377c72.d359a","type":"function","z":"6930ddcd.484ae4","name":"Question 4","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"https://i.pinimg.com/236x/7d/ab/bc/7dabbc74c1e71ba3d314ae2f24590804.jpg\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":3940,"wires":[["f660bf0a.354da"]]},{"id":"f660bf0a.354da","type":"ui_template","z":"6930ddcd.484ae4","group":"38e01e52.4f7ab2","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":3940,"wires":[[]]},{"id":"3534e2a3.90f2ae","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":3940,"wires":[["92377c72.d359a"]]},{"id":"6467274f.01cf58","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Look at the picture","group":"75308c5.c947374","order":8,"width":0,"height":0,"options":[{"label":"A","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"B","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"C","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"D","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":4060,"wires":[["f468167d.f2f118"]]},{"id":"44e4d62c.299208","type":"function","z":"6930ddcd.484ae4","name":"Question 5","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"https://www.mentalup.co/img/blog/visual-brain-question-4.jpg\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":4020,"wires":[["7b94d6b6.b2da28"]]},{"id":"7b94d6b6.b2da28","type":"ui_template","z":"6930ddcd.484ae4","group":"75308c5.c947374","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":4020,"wires":[[]]},{"id":"c6f6c7f3.46bac8","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":4020,"wires":[["44e4d62c.299208"]]},{"id":"321b891f.c17226","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"How many squares are there in the picture","group":"92dedb5b.48c548","order":8,"width":0,"height":0,"options":[{"label":"17","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"25","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"16","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"19","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":290,"y":4140,"wires":[["843c99cb.98ae28"]]},{"id":"db577e5f.993e1","type":"function","z":"6930ddcd.484ae4","name":"Question 6","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"https://www.mentalup.co/img/blog/visual-brain-question-8.png\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":4100,"wires":[["cfb9944e.1a7598"]]},{"id":"cfb9944e.1a7598","type":"ui_template","z":"6930ddcd.484ae4","group":"92dedb5b.48c548","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":4100,"wires":[[]]},{"id":"11191a0c.dedb96","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4100,"wires":[["db577e5f.993e1"]]},{"id":"51ee2b1f.4ba5e4","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"What will replace the question mark?","group":"48f4d4fa.a0d2ac","order":8,"width":0,"height":0,"options":[{"label":"A","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"B","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"C","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"D","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":270,"y":4220,"wires":[["7b419216.af09bc"]]},{"id":"34d47ae9.1202a6","type":"function","z":"6930ddcd.484ae4","name":"Question 7","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"https://www.mentalup.co/img/blog/symbol-puzzle.png\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":4180,"wires":[["6c189412.d9d64c"]]},{"id":"6c189412.d9d64c","type":"ui_template","z":"6930ddcd.484ae4","group":"48f4d4fa.a0d2ac","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":4180,"wires":[[]]},{"id":"c5ffad3a.a0dfc","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4180,"wires":[["34d47ae9.1202a6"]]},{"id":"b6bdba3e.fef1e8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"If we move the dice to the point where there is a red arrow, what will be the number on the top?","group":"c042a1dc.14b8","order":8,"width":0,"height":0,"options":[{"label":"4","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"1","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"3","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"6","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":450,"y":4300,"wires":[["2cd609a8.2a25a6"]]},{"id":"ad5903bc.89016","type":"function","z":"6930ddcd.484ae4","name":"Question 8","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"https://www.mentalup.co/img/blog/visual-brain-question-9.jpg\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":4260,"wires":[["c127830.e18668"]]},{"id":"c127830.e18668","type":"ui_template","z":"6930ddcd.484ae4","group":"c042a1dc.14b8","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":4260,"wires":[[]]},{"id":"b057c822.896e58","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4260,"wires":[["ad5903bc.89016"]]},{"id":"e8a038a9.e30d18","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Look at the picture","group":"5f0ea9b0.122318","order":8,"width":0,"height":0,"options":[{"label":"R","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"H","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"A","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"Q","value":"D. ","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D. ":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":4380,"wires":[["ffccb550.b63d88"]]},{"id":"2f365cf0.53c9e4","type":"function","z":"6930ddcd.484ae4","name":"Question 9","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"http://www.theonlinetestcentre.com/images/logicalpuzzles2.png\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":4340,"wires":[["5d577b36.25a1e4"]]},{"id":"5d577b36.25a1e4","type":"ui_template","z":"6930ddcd.484ae4","group":"5f0ea9b0.122318","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":4340,"wires":[[]]},{"id":"4fe6327b.be72cc","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4340,"wires":[["2f365cf0.53c9e4"]]},{"id":"97a6570a.9687b8","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"Look at the picture","group":"95ab8616.39d818","order":8,"width":0,"height":0,"options":[{"label":"13","value":"A. ","type":"checkbox","required":true,"rows":null},{"label":"15","value":"B. ","type":"checkbox","required":true,"rows":null},{"label":"12","value":"C. ","type":"checkbox","required":true,"rows":null},{"label":"9","value":"D","type":"checkbox","required":true,"rows":null}],"formValue":{"A. ":false,"B. ":false,"C. ":false,"D":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":4460,"wires":[["f6146a4a.2769a8"]]},{"id":"4fb86530.a1204c","type":"function","z":"6930ddcd.484ae4","name":"Question 10","func":"//msg.payload = msg.payload.output.text[0]\nmsg.url = \"http://www.theonlinetestcentre.com/images/logicalpuzzles3.png\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":4420,"wires":[["1ff3a790.bbffb8"]]},{"id":"1ff3a790.bbffb8","type":"ui_template","z":"6930ddcd.484ae4","group":"95ab8616.39d818","name":"","order":4,"width":6,"height":6,"format":"<img ng-src={{msg.url}} alt = \"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":4420,"wires":[[]]},{"id":"db0bab16.a57778","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4420,"wires":[["4fb86530.a1204c"]]},{"id":"78aa5779.2bc8f8","type":"cloudant in","z":"6930ddcd.484ae4","name":"Database in","cloudant":"","database":"test_1","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"","x":210,"y":4520,"wires":[["9676dbdd.1d1908"]]},{"id":"857747.493048b8","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":4720,"wires":[["78aa5779.2bc8f8"]]},{"id":"9676dbdd.1d1908","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answers = []\nanswers.push(msg.payload[0]) \nglobal.set('answers',answers)\n\nreturn msg; ","outputs":1,"noerr":0,"x":520,"y":4540,"wires":[[]]},{"id":"934f100b.e6a08","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":4180,"wires":[]},{"id":"51dcc0aa.7836c","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q1 =  msg.payload[answer[0][\"1\"] + \". \"]\nglobal.set(\"q1\",q1)\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":3780,"wires":[[]]},{"id":"d1ea2827.214988","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q2 =  msg.payload[answer[0][\"2\"] + \". \"]\nglobal.set(\"q2\",q2)\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":3820,"wires":[[]]},{"id":"5f4115bf.90391c","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q3 =  msg.payload[answer[0][\"3\"] + \". \"]\nglobal.set(\"q3\",q3)\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3900,"wires":[[]]},{"id":"95daca37.4d8708","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q4 =  msg.payload[answer[0][\"4\"] + \". \"]\nglobal.set(\"q4\",q4)\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":3980,"wires":[[]]},{"id":"f468167d.f2f118","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q5 =  msg.payload[answer[0][\"5\"] + \". \"]\nglobal.set(\"q5\",q5)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":4060,"wires":[[]]},{"id":"843c99cb.98ae28","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q6 =  msg.payload[answer[0][\"6\"] + \". \"]\nglobal.set(\"q6\",q6)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":4140,"wires":[[]]},{"id":"7b419216.af09bc","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q7 =  msg.payload[answer[0][\"7\"] + \". \"]\nglobal.set(\"q7\",q7)\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4220,"wires":[[]]},{"id":"2cd609a8.2a25a6","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q8 =  msg.payload[answer[0][\"8\"] + \". \"]\nglobal.set(\"q8\",q8)\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":4300,"wires":[[]]},{"id":"ffccb550.b63d88","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q9 =  msg.payload[answer[0][\"9\"] + \". \"]\nglobal.set(\"q9\",q9)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":4380,"wires":[[]]},{"id":"f6146a4a.2769a8","type":"function","z":"6930ddcd.484ae4","name":"","func":"var answer = global.get('answers')\nvar q10 =  msg.payload[answer[0][\"10\"] + \". \"]\nglobal.set(\"q10\",q10)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":4460,"wires":[["23e15586.364baa"]]},{"id":"37881e7d.6a0342","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":4040,"wires":[]},{"id":"aa2e50d7.ba59f","type":"function","z":"6930ddcd.484ae4","name":"Scoring","func":"var q1 = global.get('q1')\nvar q2 = global.get('q2')\nvar q3 = global.get('q3')\nvar q4 = global.get('q4')\nvar q5 = global.get('q5')\nvar q6 = global.get('q6')\nvar q7 = global.get('q7')\nvar q8 = global.get('q8')\nvar q9 = global.get('q9')\nvar q10 = global.get('q10')\n\nvar score = 0\nif(q1 === true){\n    score = score + 1\n}\nif(q2 === true){\n    score = score + 1\n}\nif(q3 === true){\n    score = score + 1\n}\nif(q4 === true){\n    score = score + 1\n}\nif(q5 === true){\n    score = score + 1\n}\nif(q6 === true){\n    score = score + 1\n}\nif(q7 === true){\n    score = score + 1\n}\nif(q8 === true){\n    score = score + 1\n}\nif(q9 === true){\n    score = score + 1\n}\nif(q10 === true){\n    score = score + 1\n}\n\nmsg.payload = score\n\n\nscore1=global.get(\"score1\")\nscore2 = score\nscore = score1+score2\nglobal.set(\"score2\", score)\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":4040,"wires":[["37881e7d.6a0342","7535adb7.964164"]]},{"id":"3ac9df4f.a4f45","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":4120,"wires":[["aa2e50d7.ba59f","94799e09.a83a3"]]},{"id":"94799e09.a83a3","type":"function","z":"6930ddcd.484ae4","name":"","func":"var q1 = global.get('q1')\nvar q2 = global.get('q2')\nvar q3 = global.get('q3')\nvar q4 = global.get('q4')\nvar q5 = global.get('q5')\nvar q6 = global.get('q6')\nvar q7 = global.get('q7')\nvar q8 = global.get('q8')\nvar q9 = global.get('q9')\nvar q10 = global.get('q10')\n\nmsg.payload = q10\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":4180,"wires":[["934f100b.e6a08"]]},{"id":"7535adb7.964164","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"total_scores","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":1010,"y":4080,"wires":[]},{"id":"23e15586.364baa","type":"function","z":"6930ddcd.484ae4","name":"Go to Round 3","func":"\nmsg.payload = { group:\n        {\n         hide:[\"RASP_Question1\", \n         \"RASP_Question2\",\n         \"RASP_Question3\",\n         \"RASP_Question4\",\n         \"RASP_Question5\",\n         \"RASP_Question6\",\n         \"RASP_Question7\",\n         \"RASP_Question8\",\n         \"RASP_Question9\",\n         \"RASP_Question10\"],\n         show:[\"RASP_RoundThree\"],\n         focus: true\n        }\n}\n\n\n    \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":4500,"wires":[["380bc0de.861b5"]]},{"id":"380bc0de.861b5","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":860,"y":4540,"wires":[[]]},{"id":"b40e8d60.141d6","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"d150d8c0.43ff68","order":3,"width":0,"height":0,"passthru":false,"label":"Data Science","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":260,"y":4840,"wires":[["6394ea61.0457f4"]]},{"id":"980b70c.01f889","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"d150d8c0.43ff68","order":6,"width":0,"height":0,"passthru":false,"label":"Web Development","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":270,"y":4880,"wires":[["6394ea61.0457f4"]]},{"id":"1a9c7f4f.099b31","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"d150d8c0.43ff68","order":9,"width":0,"height":0,"passthru":false,"label":"App Development","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":310,"y":4920,"wires":[["6394ea61.0457f4"]]},{"id":"bb1a28.4efcb5d8","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"d150d8c0.43ff68","order":12,"width":0,"height":0,"passthru":false,"label":"Software","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":310,"y":4980,"wires":[["6394ea61.0457f4"]]},{"id":"2d9b1944.fe0ff6","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"d150d8c0.43ff68","order":15,"width":0,"height":0,"passthru":false,"label":"Cloud Computing","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":300,"y":4800,"wires":[["6394ea61.0457f4"]]},{"id":"6394ea61.0457f4","type":"switch","z":"6930ddcd.484ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":600,"y":4860,"wires":[["63c2a45c.371e1c"],["4ce49e9a.18bc8"],["450b8ed5.163b9"],["4c79fc8b.e15644"],["ca333f86.b85fa"]]},{"id":"63c2a45c.371e1c","type":"function","z":"6930ddcd.484ae4","name":"Cloud","func":"\nmsg.payload = { group:\n        {\"show\":[\"RASP_Cloud1\",\n        \"RASP_Cloud2\",\n        \"RASP_Cloud3\",\n        \"RASP_Cloud4\",\n        \"RASP_Cloud5\"],\n         \"hide\":[\"RASP_RoundThree\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4720,"wires":[["96e60021.c21a7"]]},{"id":"4ce49e9a.18bc8","type":"function","z":"6930ddcd.484ae4","name":"DS","func":"\nmsg.payload = { group:\n        {\"show\":[\"RASP_DS1\",\n        \"RASP_DS2\",\n        \"RASP_DS3\",\n        \"RASP_DS4\",\n        \"RASP_DS5\"],\n         \"hide\":[\"RASP_RoundThree\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4780,"wires":[["139ce29f.8049fd"]]},{"id":"450b8ed5.163b9","type":"function","z":"6930ddcd.484ae4","name":"Web","func":"\nmsg.payload = { group:\n        {\"show\":[\"RASP_Web1\",\n        \"RASP_Web2\",\n        \"RASP_Web3\",\n        \"RASP_Web4\",\n        \"RASP_Web5\"],\n         \"hide\":[\"RASP_RoundThree\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4840,"wires":[["c6b70e87.d4a5f"]]},{"id":"4c79fc8b.e15644","type":"function","z":"6930ddcd.484ae4","name":"App","func":"\nmsg.payload = { group:\n        {\"show\":[\"RASP_App1\",\n        \"RASP_App2\",\n        \"RASP_App3\",\n        \"RASP_App4\",\n        \"RASP_App5\"],\n         \"hide\":[\"RASP_RoundThree\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4880,"wires":[["34ea15c4.4e3cda"]]},{"id":"ca333f86.b85fa","type":"function","z":"6930ddcd.484ae4","name":"Soft","func":"\nmsg.payload = { group:\n        {\"show\":[\"RASP_Soft1\",\n        \"RASP_Soft2\",\n        \"RASP_Soft3\",\n        \"RASP_Soft4\",\n        \"RASP_Soft5\"],\n         \"hide\":[\"RASP_RoundThree\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4940,"wires":[["9054c4c4.82f878"]]},{"id":"96e60021.c21a7","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":1000,"y":4700,"wires":[[]]},{"id":"139ce29f.8049fd","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":980,"y":4780,"wires":[[]]},{"id":"c6b70e87.d4a5f","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":1000,"y":4840,"wires":[[]]},{"id":"34ea15c4.4e3cda","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":1020,"y":4900,"wires":[[]]},{"id":"9054c4c4.82f878","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":1000,"y":4980,"wires":[[]]},{"id":"639601a.80f46","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"e3c6a901.e859d8","order":2,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"","topic":"","x":2590,"y":4260,"wires":[["28ffaf28.8f7b3"]]},{"id":"28ffaf28.8f7b3","type":"function","z":"6930ddcd.484ae4","name":"input passing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":4260,"wires":[["d1ebd3fe.882b8","e24e241c.014cd8"]]},{"id":"d1ebd3fe.882b8","type":"ui_text","z":"6930ddcd.484ae4","group":"e3c6a901.e859d8","order":4,"width":0,"height":0,"name":"","label":"Type here:","format":"{{msg.payload}}","layout":"row-spread","x":2910,"y":4220,"wires":[]},{"id":"6a281527.0e026c","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3070,"y":4260,"wires":[]},{"id":"60c8cfb6.b5e05","type":"function","z":"6930ddcd.484ae4","name":"output parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){    \n    msg.url=msg.payload.output.generic[0].source    \n    msg.payload = msg.payload.output.generic[0].title +\"\\n\"+msg.payload.output.generic[0].description\n    \n}\nelse{    \n    msg.payload=msg.payload.output.generic[0].text   \n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":3080,"y":4380,"wires":[["e1b879d6.cf93d8","97ef0aa3.e0d728","27eb734e.0f1fdc"]]},{"id":"e1b879d6.cf93d8","type":"ui_text","z":"6930ddcd.484ae4","group":"e3c6a901.e859d8","order":6,"width":0,"height":0,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"row-spread","x":3270,"y":4320,"wires":[]},{"id":"27eb734e.0f1fdc","type":"ui_audio","z":"6930ddcd.484ae4","d":true,"name":"","group":"e3c6a901.e859d8","voice":"en-GB","always":"","x":3280,"y":4440,"wires":[]},{"id":"97ef0aa3.e0d728","type":"ui_template","z":"6930ddcd.484ae4","d":true,"group":"e3c6a901.e859d8","name":"","order":8,"width":0,"height":0,"format":"<img ng-src={{msg.url}} alt=\"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3260,"y":4380,"wires":[[]]},{"id":"90e61442.3384f8","type":"template","z":"6930ddcd.484ae4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img ng-src={{msg.url}} alt=\"Image\">\n","output":"str","x":2740,"y":4180,"wires":[[]]},{"id":"ded0e74a.9fdd48","type":"function","z":"6930ddcd.484ae4","name":"","func":"global.set(\"skill\", msg.payload.context.number1)\nglobal.set(\"leader\", msg.payload.context.val)\nglobal.set(\"ppt\", msg.payload.context.number3)\nreturn msg;","outputs":1,"noerr":0,"x":2890,"y":4460,"wires":[["11f0a28f.efbe9d"]]},{"id":"88a0b97b.6b19a8","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3110,"y":4300,"wires":[]},{"id":"11f0a28f.efbe9d","type":"ui_button","z":"6930ddcd.484ae4","name":"","group":"e3c6a901.e859d8","order":10,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":3070,"y":4460,"wires":[["62ca9ff7.d2c6b"]]},{"id":"62ca9ff7.d2c6b","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nif(msg.payload === \"true\")\n{\nvar score=0\nscore = score+global.get(\"skill\")\nif(global.get(\"leader\")=== \"good\")\n{\n    score=score+3\n}\nif(global.get(\"leader\")=== \"better\")\n{\n    score=score+4\n}\nif(global.get(\"leader\")=== \"best\")\n{\n    score=score+5\n}\n\nif(global.get(\"ppt\")===\"mediocre\")\n{\n    score = score+3\n}\n\nif(global.get(\"ppt\")===\"high\")\n{\n    score = score+5\n}\n//msg.payload=score\nscore3 = global.get(\"score3\")\nscore=score+score3\nglobal.set(\"score4\", score)\nmsg.payload = score\n}\nreturn msg","outputs":1,"noerr":0,"x":3110,"y":4520,"wires":[["c790f769.8e5628","e53909e0.4be5a8"]]},{"id":"c790f769.8e5628","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"knockout","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":3220,"y":4580,"wires":[]},{"id":"d737c979.d2ef08","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Submission1\"],\n         \"show\":[\"RASP_knockout\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3260,"y":640,"wires":[["afdba86c.5f8458"]]},{"id":"a6f2b46b.e4e1b8","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Submission3\"],\n         \"show\":[\"RASP_knockout\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3220,"y":2320,"wires":[["f313d48a.71f168"]]},{"id":"f313d48a.71f168","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3300,"y":2400,"wires":[[]]},{"id":"71a88529.e3a0ac","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Submission5\"],\n         \"show\":[\"RASP_knockout\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3300,"y":3980,"wires":[["8a1c2b8a.6cf728"]]},{"id":"8a1c2b8a.6cf728","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3420,"y":4020,"wires":[[]]},{"id":"afdba86c.5f8458","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3280,"y":720,"wires":[[]]},{"id":"9c0d460a.6bd7d8","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Submission2\"],\n         \"show\":[\"RASP_knockout\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3240,"y":1500,"wires":[["b67192e0.560fd"]]},{"id":"b67192e0.560fd","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3280,"y":1560,"wires":[[]]},{"id":"fd08a38f.f7672","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Submission4\"],\n         \"show\":[\"RASP_knockout\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3280,"y":3160,"wires":[["245edc6c.ffec14"]]},{"id":"245edc6c.ffec14","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3300,"y":3240,"wires":[[]]},{"id":"e24e241c.014cd8","type":"watson-conversation-v1","z":"6930ddcd.484ae4","name":"KnockoutQuestion","workspaceid":"9b286469-b522-4828-acfd-5cb089633668","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/12bb25e4-9d2d-4452-a4ed-e41be868d233","timeout":"","optout-learning":false,"x":2910,"y":4300,"wires":[["6a281527.0e026c","88a0b97b.6b19a8","60c8cfb6.b5e05","ded0e74a.9fdd48"]]},{"id":"655f1347.679f6c","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload === \"true\")\n{\n    email = global.get(\"Email\")\n    msg.payload = email\n}\nreturn msg;","outputs":1,"noerr":0,"x":3110,"y":4620,"wires":[["def9d4a9.cd72a8"]]},{"id":"def9d4a9.cd72a8","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"job_application","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_id_","design":"","index":"","x":3170,"y":4700,"wires":[["6f9eb7b.b7e8f48"]]},{"id":"6f9eb7b.b7e8f48","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nscore = global.get(\"score4\")\nglobal.set(\"points\", score)\n\nmsg.payload={\n    \"company_name\": flow.get(\"company\"),\n    \"job_applied\": flow.get(\"job_applied\"),\n    \"email\": msg.payload.Email,\n    \"name\": msg.payload.NAME,\n    \"dob\": msg.payload.DOB,\n    \"gender\": msg.payload.Gender,\n    \"points\": score\n}\nreturn msg;","outputs":1,"noerr":0,"x":3110,"y":4780,"wires":[["4c09dd28.c71414"]]},{"id":"4c09dd28.c71414","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"selected_candidates","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":3350,"y":4800,"wires":[]},{"id":"96f1fae4.e0ee48","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"job_desc","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"JOB TITLE","x":240,"y":960,"wires":[["2fef620d.4e74ee","c309b4ac.af0718"]]},{"id":"8055899a.c81938","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":960,"wires":[["96f1fae4.e0ee48"]]},{"id":"a985cd7e.99e51","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":960,"wires":[]},{"id":"2fef620d.4e74ee","type":"ui_template","z":"6930ddcd.484ae4","group":"b6c29ab0.8982a8","name":"Two dimension array table","order":2,"width":0,"height":0,"format":"<table id=\"table\" >\n    <tr>\n    <th>JOB TITLE</th>\n    <th>DESCRIPTION</th>\n    <th>LOCATION</th>\n    <th>COMPANY NAME</th>\n    <th>TO APPLY</th>\n    </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td>{{row.JOB_TITLE}}</td>\n <td>{{row.DESCRIPTION}}</td>\n <td>{{row.LOCATION}}</td>\n <td>{{row.COMPANY_NAME}}</td>\n <td><md-button class=\"button save\" ng-click=\"send({topic:'clicked', payload:row})\">Apply Now</md-button></td>\n </tr>\n </tbody>\n </table>\n \n \n\n\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":490,"y":960,"wires":[["badf9479.b010c8","a985cd7e.99e51"]]},{"id":"badf9479.b010c8","type":"function","z":"6930ddcd.484ae4","name":"","func":"var description = flow.get('des')\nfor(var i = 0; i < flow.get('des').length;i++){\n    if(msg.payload.JOB_TITLE === description[i].JOB_TITLE){\n        var job = msg.payload.JOB_TITLE\n        var company = msg.payload.COMPANY_NAME\n        flow.set(\"job_applied\",job)\n        flow.set(\"company\", company)\n        flow.set(\"comapny\", )\n        msg.payload = { group: {\n            show:[\"RASP_Job_Application\"],\n            hide:[\"RASP_ApplicantDashboard\"]\n            }\n            \n        }\n\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1020,"wires":[["5c6f98bd.e6e8f8"]]},{"id":"c309b4ac.af0718","type":"function","z":"6930ddcd.484ae4","name":"","func":"var des = []\nflow.set('des',msg.payload)","outputs":1,"noerr":0,"x":430,"y":1020,"wires":[[]]},{"id":"fb54dfaf.9c1ae","type":"ui_form","z":"6930ddcd.484ae4","name":"","label":"","group":"5ed719c7.7c8b48","order":1,"width":0,"height":0,"options":[{"label":"Company name","value":"company","type":"text","required":true,"rows":null},{"label":"Job Title","value":"job_title","type":"text","required":true,"rows":null},{"label":"Skills","value":"skills","type":"text","required":true,"rows":null},{"label":"Short Description","value":"description","type":"text","required":true,"rows":null},{"label":"Primary Location","value":"location","type":"text","required":true,"rows":null},{"label":"Reporting Position","value":"rep_pos","type":"text","required":true,"rows":null},{"label":"Qualifications","value":"highest","type":"text","required":true,"rows":null},{"label":"Preferred Requirements","value":"pr_req","type":"text","required":true,"rows":null},{"label":"Weekends","value":"weekends","type":"switch","required":true,"rows":null},{"label":"Work timings","value":"timings","type":"text","required":true,"rows":null},{"label":"On site opportunities","value":"on_site","type":"switch","required":true,"rows":null}],"formValue":{"company":"","job_title":"","skills":"","description":"","location":"","rep_pos":"","highest":"","pr_req":"","weekends":false,"timings":"","on_site":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":1780,"wires":[["a3fd762f.83e0a8"]]},{"id":"a3fd762f.83e0a8","type":"function","z":"6930ddcd.484ae4","name":"","func":"msg.payload ={\n    \"COMPANY_NAME\":msg.payload.company,\n    \"JOB_TITLE\":msg.payload.job_title,\n    \"DESCRIPTION\":msg.payload.description,\n    \"LOCATION\":msg.payload.location,\n    \"REPORTING POSITION\":msg.payload.rep_pos,\n    \"SKILLS\":msg.payload.skills,\n    \"QUALIFICATIONS\":msg.payload.highest,\n    \"REQUIREMENTS\":msg.payload.requirements,\n    \"WEEKENDS\":msg.payload.weekends,\n    \"WORK TIMINGS\":msg.payload.timings,\n    \"ONSITE\":msg.payload.on_site\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":1740,"wires":[["2d16ccec.517b54","61426d57.431384"]]},{"id":"2d16ccec.517b54","type":"cloudant out","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"job_desc","service":"node-red-acpla-cloudant-1590483499121-50064","payonly":true,"operation":"insert","x":660,"y":1800,"wires":[]},{"id":"e53909e0.4be5a8","type":"function","z":"6930ddcd.484ae4","name":"","func":"total_score = global.get(\"score4\")\nif(total_score >= 15)\n{\n    msg.payload = \"true\"\n}\nelse\n{\n    msg.payload = \"false\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2900,"y":4580,"wires":[["655f1347.679f6c","a4ea644d.6b7148"]]},{"id":"5c6f98bd.e6e8f8","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":900,"y":1020,"wires":[[]]},{"id":"afc0ab4.1bc4a58","type":"cloudant in","z":"6930ddcd.484ae4","name":"","cloudant":"","database":"selected_candidates","service":"node-red-acpla-cloudant-1590483499121-50064","search":"_all_","design":"","index":"JOB TITLE","x":360,"y":2000,"wires":[["bf0701b3.747d9","52654971.d20158"]]},{"id":"afbe55c.4cd3ea8","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2000,"wires":[["afc0ab4.1bc4a58"]]},{"id":"7e9c4abf.7c36d4","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1980,"wires":[]},{"id":"3c826092.8f685","type":"ui_template","z":"6930ddcd.484ae4","group":"7a440e1.5e916f","name":"Two dimension array table","order":1,"width":0,"height":0,"format":"<table id=\"table\" >\n    <tr>\n    \n    <th>CANDIDATE NAME</th>\n    <th>EMAIL</th>\n    <th>JOB TITLE</th>\n    <th>SCORE</th>\n    </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n \n <td>{{row.name}}</td>\n <td>{{row.email}}</td>\n <td>{{row.job_applied}}</td>\n <td>{{row.points}}</td>\n </tr>\n </tbody>\n </table>\n \n \n\n\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":650,"y":2000,"wires":[["5a1c9030.ab19a","7e9c4abf.7c36d4"]]},{"id":"5a1c9030.ab19a","type":"function","z":"6930ddcd.484ae4","name":"","func":"var description = flow.get('des')\nfor(var i = 0; i < flow.get('des').length;i++){\n    if(msg.payload.JOB_TITLE === description[i].JOB_TITLE){\n        var job = msg.payload.JOB_TITLE\n        var company = msg.payload.COMPANY_NAME\n        flow.set(\"job_applied\",job)\n        flow.set(\"company\", company)\n        flow.set(\"comapny\", )\n        msg.payload = { group: {\n            show:[\"RASP_Job_Application\"],\n            hide:[\"RASP_ApplicantDashboard\"]\n            }\n            \n        }\n\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2060,"wires":[["e4729202.ee6fb"]]},{"id":"bf0701b3.747d9","type":"function","z":"6930ddcd.484ae4","name":"","func":"var selected = []\nvar c_selected =[]\nflow.set('selected',msg.payload)\nc_name=flow.get(\"c_name\")\nfor(i=0; i<msg.payload.length;i++)\n{\n    if(c_name === msg.payload[i].company_name)\n    {\n        c_selected.push(msg.payload[i])\n    }\n}\nflow.set(\"c_selected\", c_selected)\nmsg.payload = c_selected\nreturn msg","outputs":1,"noerr":0,"x":510,"y":2060,"wires":[["3c826092.8f685"]]},{"id":"e4729202.ee6fb","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":980,"y":2060,"wires":[[]]},{"id":"52654971.d20158","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":2080,"wires":[]},{"id":"442fa138.3060c","type":"inject","z":"6930ddcd.484ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1360,"wires":[["13551ef4.270f41"]]},{"id":"13551ef4.270f41","type":"function","z":"6930ddcd.484ae4","name":"","func":"var c = flow.set(\"c_name\")\nmsg.payload = c\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1340,"wires":[["717ffa0b.7a5564"]]},{"id":"717ffa0b.7a5564","type":"debug","z":"6930ddcd.484ae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":1340,"wires":[]},{"id":"4189aa2b.eaa124","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Web1\",\n        \"RASP_Web2\",\n        \"RASP_Web3\",\n        \"RASP_Web4\",\n        \"RASP_Web5\"],\n        \"show\":[\"RASP_Submission1\"],\n        \"focus\": true\n        }\n}","outputs":1,"noerr":0,"x":3040,"y":540,"wires":[["fcfb81a.78ccc8"]]},{"id":"fcfb81a.78ccc8","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3240,"y":540,"wires":[[]]},{"id":"24165af2.10e2f6","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_App1\",\n        \"RASP_App2\",\n        \"RASP_App3\",\n        \"RASP_App4\",\n        \"RASP_App5\"],\n        \"show\": [\"RASP_Submission2\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3160,"y":1320,"wires":[["56351b2c.54ea54"]]},{"id":"56351b2c.54ea54","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3300,"y":1300,"wires":[[]]},{"id":"8b1fa739.4dc678","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Cloud1\",\n        \"RASP_Cloud2\",\n        \"RASP_Cloud3\",\n        \"RASP_Cloud4\",\n        \"RASP_Cloud5\"],\n         \"show\":[\"RASP_Submission3\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3210,"y":2100,"wires":[["89f88119.d02a1"]]},{"id":"89f88119.d02a1","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3380,"y":2100,"wires":[[]]},{"id":"d9909a07.9368f8","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_Soft1\",\n        \"RASP_Soft2\",\n        \"RASP_Soft3\",\n        \"RASP_Soft4\",\n        \"RASP_Soft5\"],\n        \"show\": [\"RASP_Submission4\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3120,"y":2920,"wires":[["9a23c271.1ae7a"]]},{"id":"9a23c271.1ae7a","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3260,"y":2900,"wires":[[]]},{"id":"acec9c14.65cbf","type":"function","z":"6930ddcd.484ae4","name":"","func":"\nmsg.payload = { group:\n        {\"hide\":[\"RASP_DS1\",\n        \"RASP_DS2\",\n        \"RASP_DS3\",\n        \"RASP_DS4\",\n        \"RASP_DS5\"],\n        \"show\": [\"RASP_Submission5\"],\n         \"focus\": true\n        }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":3300,"y":3740,"wires":[["f405697f.d595a8"]]},{"id":"f405697f.d595a8","type":"ui_ui_control","z":"6930ddcd.484ae4","name":"","events":"all","x":3460,"y":3700,"wires":[[]]},{"id":"a4ea644d.6b7148","type":"function","z":"6930ddcd.484ae4","name":"","func":"if(msg.payload === \"true\")\n{\n    msg.payload = \"You have been shortlisted for the personal interview. Please await email from the company.\"\n}\nelse if(msg.payload === \"false\")\n{\n    msg.payload = \"Sorry to inform you that you have not been selected\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2910,"y":4640,"wires":[["7e1248bd.cbc418"]]},{"id":"7e1248bd.cbc418","type":"ui_text","z":"6930ddcd.484ae4","group":"e3c6a901.e859d8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":2920,"y":4720,"wires":[]},{"id":"50164e44.29d9c","type":"ui_group","z":"","name":"ApplicantRegistration","tab":"ae19b9db.3872f8","order":18,"disp":true,"width":"6","collapse":false},{"id":"bef4810f.e5278","type":"ui_group","z":"","name":"ApplicantLogin","tab":"ae19b9db.3872f8","order":19,"disp":true,"width":"6","collapse":false},{"id":"b6c29ab0.8982a8","type":"ui_group","z":"","name":"ApplicantDashboard","tab":"ae19b9db.3872f8","order":4,"disp":true,"width":16,"collapse":false},{"id":"1e51c22d.b1697e","type":"ui_group","z":"","name":"Index","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"3359ff38.628dc","type":"ui_group","z":"","name":"CompanyLogin","tab":"ae19b9db.3872f8","order":20,"disp":true,"width":"6","collapse":false},{"id":"44ce9ed4.489be","type":"ui_group","z":"","name":"CompanyRegistration","tab":"ae19b9db.3872f8","order":21,"disp":true,"width":"6","collapse":false},{"id":"7a440e1.5e916f","type":"ui_group","z":"","name":"CompanyDashboard","tab":"ae19b9db.3872f8","order":22,"disp":true,"width":"6","collapse":false},{"id":"de620793.912cc8","type":"ui_group","z":"","name":"Skill","tab":"ae19b9db.3872f8","order":17,"disp":true,"width":"6","collapse":false},{"id":"4f6f73ba.a86cbc","type":"ui_group","z":"","name":"Job_Application","tab":"ae19b9db.3872f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"ccc43be3.a2c2d8","type":"ui_group","z":"","name":"RoundTwo","tab":"ae19b9db.3872f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b9df92ba.5bad5","type":"ui_group","z":"","name":"NotSelected","tab":"ae19b9db.3872f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"fc01ceb6.0657a","type":"ui_group","z":"","name":"Web1","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"49b497fd.229a68","type":"ui_group","z":"","name":"Web2","tab":"ae19b9db.3872f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c496bae2.82dc08","type":"ui_group","z":"","name":"Web3","tab":"ae19b9db.3872f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4b124d8d.153a14","type":"ui_group","z":"","name":"Web4","tab":"ae19b9db.3872f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"762e49f3.dfc448","type":"ui_group","z":"","name":"Web5","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"f5e03391.c272a","type":"ui_group","z":"","name":"Submission1","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"21e1f2e2.47d51e","type":"ui_group","z":"","name":"App1","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1e24552.0abd48","type":"ui_group","z":"","name":"App2","tab":"ae19b9db.3872f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"70257b20.dd53c4","type":"ui_group","z":"","name":"App3","tab":"ae19b9db.3872f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"35e5d909.0f9926","type":"ui_group","z":"","name":"App4","tab":"ae19b9db.3872f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8278c98f.ee19c8","type":"ui_group","z":"","name":"App5","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"dc3fbed7.69abb","type":"ui_group","z":"","name":"Submission2","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b44c6ece.5fe82","type":"ui_group","z":"","name":"Cloud1","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9959ee5.7ea0f","type":"ui_group","z":"","name":"Cloud2","tab":"ae19b9db.3872f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"22673e60.5b2a22","type":"ui_group","z":"","name":"Cloud3","tab":"ae19b9db.3872f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"50110b98.77bca4","type":"ui_group","z":"","name":"Cloud4","tab":"ae19b9db.3872f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"7a8aba12.7ee324","type":"ui_group","z":"","name":"Cloud5","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"5df996ef.666ad8","type":"ui_group","z":"","name":"Submission3","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ab79683.592ff8","type":"ui_group","z":"","name":"Soft1","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa781db6.b566","type":"ui_group","z":"","name":"Soft2","tab":"ae19b9db.3872f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d3d8b746.5a2f98","type":"ui_group","z":"","name":"Soft3","tab":"ae19b9db.3872f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4c4b46cc.8ba668","type":"ui_group","z":"","name":"Soft4","tab":"ae19b9db.3872f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"4459ffb8.5029c","type":"ui_group","z":"","name":"Soft5","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"5fb622af.e9896c","type":"ui_group","z":"","name":"Submission4","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a27c8c23.065d6","type":"ui_group","z":"","name":"DS1","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7590bda8.6764f4","type":"ui_group","z":"","name":"DS2","tab":"ae19b9db.3872f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee220073.ae923","type":"ui_group","z":"","name":"DS3","tab":"ae19b9db.3872f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"30229d57.f0b822","type":"ui_group","z":"","name":"DS4","tab":"ae19b9db.3872f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b8b75ccd.b6a66","type":"ui_group","z":"","name":"DS5","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"ad1f924b.670fd","type":"ui_group","z":"","name":"Submission5","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"832d46c4.e36d68","type":"ui_group","z":"","name":"Question2","tab":"ae19b9db.3872f8","order":8,"disp":true,"width":"12","collapse":false},{"id":"4dff521f.f72c2c","type":"ui_group","z":"","name":"Question1","tab":"ae19b9db.3872f8","order":7,"disp":true,"width":"6","collapse":false},{"id":"5ddb6926.b45998","type":"ui_group","z":"","name":"Question3","tab":"ae19b9db.3872f8","order":9,"disp":true,"width":"6","collapse":false},{"id":"38e01e52.4f7ab2","type":"ui_group","z":"","name":"Question4","tab":"ae19b9db.3872f8","order":10,"disp":true,"width":"6","collapse":false},{"id":"75308c5.c947374","type":"ui_group","z":"","name":"Question5","tab":"ae19b9db.3872f8","order":11,"disp":true,"width":"6","collapse":false},{"id":"92dedb5b.48c548","type":"ui_group","z":"","name":"Question6","tab":"ae19b9db.3872f8","order":12,"disp":true,"width":"6","collapse":false},{"id":"48f4d4fa.a0d2ac","type":"ui_group","z":"","name":"Question7","tab":"ae19b9db.3872f8","order":13,"disp":true,"width":"6","collapse":false},{"id":"c042a1dc.14b8","type":"ui_group","z":"","name":"Question8","tab":"ae19b9db.3872f8","order":14,"disp":true,"width":"6","collapse":false},{"id":"5f0ea9b0.122318","type":"ui_group","z":"","name":"Question9","tab":"ae19b9db.3872f8","order":15,"disp":true,"width":"6","collapse":false},{"id":"95ab8616.39d818","type":"ui_group","z":"","name":"Question10","tab":"ae19b9db.3872f8","order":16,"disp":true,"width":"6","collapse":false},{"id":"d150d8c0.43ff68","type":"ui_group","z":"","name":"RoundThree","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":true},{"id":"e3c6a901.e859d8","type":"ui_group","z":"","name":"knockout","tab":"ae19b9db.3872f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"5ed719c7.7c8b48","type":"ui_group","z":"","name":"CreateJob","tab":"ae19b9db.3872f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae19b9db.3872f8","type":"ui_tab","z":"","name":"RASP","icon":"dashboard","disabled":false,"hidden":false}]